button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
	text-align: center;
}

form {
	/*max-width: 600px;*/
	margin-left: auto;
	margin-right: auto;
}


.hidden {
    display: none!important;
}

form{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;

    text-align: left;
}

form input[type=submit],
form input[type=button],
form input[type=text],
form input[type=email],
form textarea,
form label {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #fff;

}
form label {
    display:block;
    margin-bottom: 10px;
}
form label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
form input[type=text],
form input[type=email] 
{
    background: transparent;
    border: none;
    border-bottom: 1px solid #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    /*font-style: italic;*/
}
form textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

form textarea:focus, 
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=email] :focus
{
    border-bottom: 1px solid #D9FFA9;
}

form input[type=submit],
form input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
form input[type=submit]:hover,
form input[type=button]:hover{
background: #394D61;
}
